<div class="jumbotron center">
	<h1>Linx</h1>
	<h2>A simple link aggregation and sharing tool</h2>
	<p>
		<%= link_to "Submit a Link", links_path, class: "btn btn-primary btn-lg" %>
		<%= link_to "Admin", "#", class: "btn btn-default btn-lg" %>
	</p>
</div>
